.card-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-img-and-name {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.card-item img {
    min-width: 10rem;
    max-width: 10rem;
    border-radius: 3px;
    padding-right: 20px;
}

.card-name {
    min-width: 10rem;
}

@media (max-width: 570px) {
    .card-name{
        min-width: 5rem;
    }
}

.card-outer::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #b0afaf;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-and-button {
    min-width: 10rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-and-button:first-child {
    margin-top: 2rem;
}

.price-and-button p{
    margin: 10px 0 ;
}

* {
    box-sizing: border-box;
}

@media (max-width: 870px) {
    .price-and-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

}

a.block {
    display: block;
}
