.favorite-item {
    display: flex;
    justify-content: space-between;
}

.favorite-img-and-name {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.favorite-item img {
    width: 40%;
    border-radius: 3px;
}

.favorite-outer::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #b0afaf;
    margin-top: 20px;
}

.price-and-button {
    text-align: right;
}
.price-and-button p{
    margin: 10px 0 ;
}