.card {
    width: 500px;
    max-width: 700px;
    border: solid 2px #b4b4b4;
    border-radius: 8px;
    padding: 30px;
    margin: 0 10px 0 30px;
    transition: tarnsform 2s;;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-sizing: inherit;
}

img{
    max-width: 100%;
    border-radius: 8px;
}

.name-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    font-size: 30px;
    font-weight: bold;
    margin: 0 20px;
}

.product-price {
    font-size: 25px;
}

.description {
    font-size: 20px;
    border: solid 2px #b4b4b4;
    margin: 0 0 10px 10px;
    padding: 1.5vw;
}