.card {
    width: 180px;
    border: solid 2px #b4b4b4;
    border-radius: 8px;
    padding: 12px;
    transition: tarnsform 2s;;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.price {
    display: flex;
    justify-content: end;
    margin:0px
}

.name {
    margin:0px
}

img{
    max-width: 100%;
}