.pulldown-menus {
    width: 100vw;
    display: flex;
    justify-content: end;
    padding-top: 2rem;
    padding-right: 4rem;
}

.pulldown-outer {
    max-width: 960px;
    display: block;
    height: 5rem;
}