.information-button {
    height: 50px;
    width: 150px;
    margin: 20px 10px 0 50px;
    color: white;
    background-color: blueviolet;
}

.information-button:hover {
    background-color: rgb(114, 36, 188);
}