.information-button {
    height: 50px;
    width: 20vw;
    max-width: 150px;
    margin: 20px 2.3vw;
    color: white;
    background-color: blueviolet;
}

.information-button:hover {
    background-color: rgb(114, 36, 188);
}