.title-caption {
    font-size: 1.5em;
}

.title-caption::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #b0afaf;
    margin-top: 1rem;
    margin-bottom: 2rem;
}