.buttons {
    max-width: 20%;
}

.cart-menu-title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.cart-menu {
    max-width: 35%;
    border: solid 1px #b4b4b4;
    border-radius: 8px;
    padding: 20px;
}