.category {
    border: 2px solid grey ;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

h2{
    margin: 20px 0 0 0;
}