.buttons {
    max-width: 20%;
}

.information-menu-title {
    font-size: 3.0vw;
    display: flex;
    justify-content: center;
    margin: 20px 2.0vw;
}

.information-menu {
    width: 30%;
    max-width: 300px;
    border: solid 2px #b4b4b4;
    border-radius: 8px;
    margin: 0 5.5vw 0 1.5vw;
    padding: 20px;
}