.buttons {
    max-width: 20%;
}

.information-menu-title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.information-menu {
    width: 250px;
    max-width: 300px;
    border: solid 2px #b4b4b4;
    border-radius: 8px;
    margin: 0 10px 0 10px;
    padding: 20px;
}